<%= form_with(model: [ @article, @article.comments.build ]) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body, :rows => 5, style: 'width:50%;' %>
  </p>
  <p>
    <%= form.submit :"Create Comment", class: 'btn btn-outline-success' %>
  </p>
<% end %>
