<div class="container py-4">
  <% @articles.each do |article| %>
    <div class="article card">
      <div class="card-header">
        <h2><%= article.title %></h2>
        <p><%= article.users.map(&:name).join(' & ') %></p>
      </div>
      <div class="card-body">
        <p><%= truncate(format_markdown(article.text), length:500) %></p>

        <div class="btn-group">
          <%= link_to 'Show', article_path(article), :class => "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  <% end %>
  <div class="digg_pagination text-center">
    <%= will_paginate @posts, :page_links => true, :class=> "d-inline-block" %>
  </div>
</div>
