<link href="https://fonts.googleapis.com/css?family=Monoton|Work+Sans" rel="stylesheet">

<div class="container py-4">
  <h1>Very Fun Data Science</h1>

  <p class="new-link"><%= link_to 'New article', new_article_path %></p>

  <% @articles.each do |article| %>
    <div class="article">
      <h2><%= article.title %></h2>
      <p><%= article.text%></p>
      <table>
        <tr>
          <td><%= link_to 'Show', article_path(article) %></td>
          <td><%= link_to 'Edit', edit_article_path(article) %></td>
          <td><%= link_to 'Delete', article_path(article),
                  method: :delete,
                  data: { confirm: 'You sure?' } %></td>
        </tr>
      </table>
    </div>
  <% end %>

</div>
